$length: 20px;
$running-list-min-width: 450px;
$borderColor: #eee;
$headerColor: #435d7d;
$throwLine: black;
$controlWidth: 45px;
$taskTitleWidth: calc(#{$running-list-min-width} - 140px);
$taskInputWidth: calc(#{$taskTitleWidth} - #{$controlWidth});

.metalheart-running-list {

  width: 100%;
  min-width: 450px;
  border: 1px solid $headerColor;
  padding-bottom: 1px;

  .metalheart-running-list-header {
    background: $headerColor;
    color: #fff;
    height: 40px;

    .running-list-header-cell {
      width: $length;
      height: $length;
      line-height: $length;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      background-image: url("/grid.png");
      background-position: left bottom;

      color: $headerColor;
    }

    .running-list-calendar {
      display: inline-block;
    }

    .running-list-title {
      display: inline-block;
      width: 100%;
      margin-left: -140px;
      margin-right: -85px;
      padding-left: 150px;
      vertical-align: top;
      h2 {
        font-size: 23px;
        line-height: 40px;
      }
    }

    .running-list-controls {
      display: inline-block;
      vertical-align: top;
    }


  }

  .running-list-row {

    height: $length;
    line-height: $length;

    .running-list-cell {

      width: $length;
      height: $length;
      line-height: $length;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      /*border-bottom: 1px solid $borderColor;
      border-left: 1px solid $borderColor;*/

      background-image: url("/grid.png");
      background-position: left bottom;

      &:hover {
        background: #ffe404;
      }

      &.NONE {
      }

      &.TO_DO {
        border: 1px solid $throwLine;
      }

      &.CANCELED::before {
        content: "x"
      }

      &.IN_PROGRESS {
        background: $throwLine;
      }

      &.DONE {
        background: $throwLine;
      }

      &.DONE + .DONE {
        background-image: url("/grid.png");
        background-position: left bottom;
      }

      &.CANCELED + .CANCELED::before {
        content: "";
      }

      &.DONE + .DONE .line-through, &.CANCELED + .CANCELED .line-through {
        border-bottom: solid 1px $throwLine;
        height: 50%;
        width: 100%;
      }

      &.DONE + .running-list-task input, &.CANCELED + .running-list-task input {
        text-decoration: line-through;
      }
    }

    .running-list-task {
      width: 100%;
      margin-left: -140px;
      padding-left: 140px;
      height: $length;
      line-height: $length;
      display: inline-block;
      border-left: 1px solid $borderColor;

      span {
        display: none;
        cursor: pointer;
      }

      input {
        width: 100%;
        margin-right: -40px;
        font-size: 15px;
        padding-left: 5px;
        border: 0px;
      }

      &:hover span {
        display: inline-block;
      }
    }
  }
}
