@import "../../css/colors";

$loginRegistrationBackground: linear-gradient(to top, #7d437b, #000000);

.change_password_panel_wrapper {

  font-family: 'Mukta', sans-serif;
  height: 100vh;
  min-height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  top: 290px;

  overflow-y: hidden;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  .white-panel {
    height: 500px;
    width: 350px;
    margin: auto;

    button {
      width: 100%;
      background: $headerBackground;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
